
*{
    padding: 0;
    margin: 0;
}
body {
    background: #FFFFFF;
}

.header{
    min-width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background: #064463;
    width: 100%;
    height: 100vh;

  }

  .background-image {
    min-width: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    mix-blend-mode: darken;
    display: block;
    object-fit: cover
  }
  .logo
  {
    position: absolute;
    top: 2.75vw;
    left: 4vw;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
.menuIcon {
    position: absolute;
    top:2.6vw;
    right: 2.5vw;
    display: none;

}
  nav{
    position: absolute;
    height: 26px;
    left: 360px;
    top: 72px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}
.menu a{
    margin-left: 52px;
	text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;
}
.body-text {
    position: absolute;
    width: 60%;
    height: 214px;
    left: 4.16vw;
    top: 272px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 3.69vw;
    letter-spacing: 0.2px;

    color: #FFFFFF;

}
.start-now-btn {
    position: absolute;
    width: 18.2vw;
    height: 52px;
    left: 4.1vw;
    top: 65%;
    min-width: 152px;
    background: #CEA93A;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    border: none;
}
.start-now-btn:hover {
    background: #f1ce64;
}

.about-section {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
	flex-wrap: wrap;

}
.about-left{
	flex-basis: 50%;
	max-width: 650px;
    text-align: left;
    margin-left: 4.25vw;
    margin-top: 110px;
}

.about-section h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    letter-spacing: 0.2px;
    

    color: #081A2B;
}

.about-left p {
    margin-top: 65px;
    min-width: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.2px;
    text-align: left;

color: #081A2B;
}

.about-btn1 {
    background: #0D89CA;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    outline: none;
    border: none;
    width: 236px;
    height: 52px;
    margin-top: 24px;
    cursor: pointer;

}
.about-btn2 {
    background: #FFFFFF;
    border: 1px solid #0D89CA;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;
    outline: none;
    width: 236px;
    height: 52px;
    margin-top: 24px;
    cursor: pointer;
}
.about-btn2:hover{
    background: #0D89CA;
    color: white;
}
.hiddenBtn {
    display: none;
}
.hiddenBtn2 {
    display: none;
}
.right{
    margin-top: 89px;
	flex-basis: 50%;
	text-align: right;
}
.right img {
    width: 525px;
    height: 525px;
}
.offerings{
    text-align: center;
    align-items: center;
}
.offerings h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    letter-spacing: 0.2px;
    color: #081A2B;
    text-align: center;
    margin-top: 135px;
}
.offerings p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #081A2B;
    margin: 30px 40px;
    text-align: center;

}
.offering-container {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
	flex-wrap: wrap;
    justify-content: center;
    margin-top: 107px;
}
.offering-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box-img{
    width: 160px;
    height: 110px;
}

.offering{
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    

}
.color-rect {
    width: 150px;
    height: 18px;
}

.offering-box h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #081A2B;

}
.offering-box p {
    width: 245px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #081A2B;

}
.box1 .color-rect {
    background: #EB7B37;
}
.box2 .color-rect {
    background: #FAD606;
}
.box3 .color-rect {
    background: #C6A136;
}
.box4 .color-rect {
    background: #A2B8C1;
}
.industries {
    margin-top: 100px;
}
.images-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin-top: 80px;

}
.images-container .check {
    margin: 0 60px;
}
.ellipse
{
    position: absolute;
    left: 33.5%;
}
.ellipse1 {
    position: absolute;
    right: 33.5%;
}
.lessThan {
    position: absolute;
    left: 35%;
}
.greaterThan {
    position: absolute;
    right: 35%;
}
.common {
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 80px;
}
.common img{
    position: absolute;
    width: 350px;
    height: 350px;
}
.rectangle {
    position: absolute;
    width: 350px;
    height: 103px;
    background: rgba(8, 26, 43, 0.8);
    bottom: 0;
    right: -175px;
    text-align: center;
}
.images-text
{
    position: absolute;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    bottom: 15px;
    right: -125px;
}
.extra {
    width: 460px;
    height: 460px;
}
.check {
    background-image: url(images/image-center.png);
    background-repeat: no-repeat;
    width: 24.3%;
    background-size: cover;
    text-align:center;
}
.checkText {
    margin-top: 430px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.boxIn {
    width: 350px;
    height: 103px;
    background: rgba(8, 26, 43, 0.8);
}
.checks1 {
    background-image: url(images/image-left.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    background-size: cover;
    text-align:center;
}
.checks2 {
    background-image: url(images/image-right.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    background-size: cover;
    text-align:center;
}
.checkTexts {
    margin-top: 320px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.partnerImages {
    margin-top: 80px;
}
.partnerImages img {
    width: 100%;
}
.partnerImagesHidden {
    display: none;
}
.underlineDiv
{
    border-bottom: solid 3px #252B42;
}
.testimonials span {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: rgba(8, 26, 43, 0.75);
    text-align: center;
    padding-left: 20px;
    margin-top: 40px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 51px;
}
.card {
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(162, 184, 193, 0.5);
    align-items: center;
}
.card .quotes {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 6.2%;
    left: 14%;
}
.card .stars {
    position: absolute;
    top: 7.2%;
    left: 34%;
}
#para {
    position: absolute;
    width: 288px;
    height: 27px;
    top: 70px;
    left: 5%;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
.cardBox{
    position: absolute;
    width: 100%;
    height: 172.09px;
    top: 328px;
    background: #A2B8C1;
}
.cardImage {
    position: absolute;
    top: 290px;
    left: 37.5%;
    
}
#smallText {
    position: absolute;
    width: 321px;
    height: 46px;
    left: 1.5%;
    top: 76%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;

}
.socials {
    position: absolute;
    margin-top: 5px;
    margin-left: 29.25%;
    bottom: 0px;;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.socials img {
    padding: 15px 12px;
}
.space {
    margin-top: 50px;
}

.blog {
    margin-top: 153px;
    text-align: center;
}
.blog span {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    letter-spacing: 0.2px;
    color: #081A2B;

}
.flexDiv {
    position: relative;
    display:flex;
    align-items: center;
    justify-content:center;
}
.flexDiv span {
    
}
.btn {
    position: absolute;
    right:  85px;
}
.blogBox{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 620px;
    height: 888px;
    text-align: center;
}
.blogImageContainer img {

    width: 620px;
    height: 620px;
}
.dateRead {
    position: relative;
    margin-top: 28px;
    
}
.dateRead  span{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #A88427;
   

}
.dateRead span:nth-child(1)
{
    position: absolute;
    left: 57px;
}
.dateRead span:nth-child(2)
{
    position: absolute;
    right: 87px;
}
.blog-text {
    position: absolute;
    width: 504px;
    height: 70px;
    margin:48px 57px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.2px;

    color: #081A2B;

}
.blogBtn {
    margin-left: 0px;
    margin-top: 157px;
}
.blogColouredStrip
{
    margin-top: 28px;
    width: 618px;
    height: 10px;
    
}
.strip1 {
    background: #EB7B37;
}
.strip2 {
    background: #FAD606;
}
.boxContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 122px;

}
.newsBox
{
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
    margin-top: 132px;
}
.news-left {
    flex-basis: 30%;
    
}
.news-left img {
    width: 50%;
}
.news-right {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:normal;
    text-align: start;
}
.newsContent {
    width: 82%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 3.6vw;
    letter-spacing: 0.2px;
    color: #081A2B;
}
.newsDate {
    color: grey;
    font-size: 36px;
    font-family: Jost;
    font-weight: 300;
    letter-spacing: 0.2px;

}
.contact {
    margin-top: 25vh;
}
.contactContainer {
    margin-top: 60px;
    display: flex;
	flex-wrap: wrap;

}
.contactleft {
    flex-basis: 40%;

}

input[type=text], select, textarea {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 45px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    background: #F5F5F5;
    }

  input[type=text]:nth-child(1)
  {
    margin-top: 65px;
  }
  
  input[type=submit] {
    position: absolute;
    background: #F5F5F5;
    color: white;
    width: 145px;
    height: 56px;
    background: #0D89CA;
    border: none;
    cursor: pointer;
    align-items: center;
    padding: 18px 38px;
    gap: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    bottom: 5%;
    left: 8.1%;
  }
  
  input[type=submit]:hover {
    background-color: blue
  }
  
  .contactContainerBox {
    position: relative;
    background: #FFFFFF;
    width: 453px;
    height: 668px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-left: 4.25vw;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    align-items: start;
    align-content: start;
    justify-content: start;
  }
  .contactRight {
    flex-basis: 60%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.items {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .items p{
        width: 276px;
        height: 46px;
        margin-top: 20px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #374754;

    }
    .contactItemsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content:center
    }
    .contactMapImage {
        flex-basis: 60%;
        margin-top: 70px;
    }
    .contactSocials
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .contactSocials img {
        margin-right: 32px;
    }

    .footerSection {
        width: 100%;
        background: #0D89CA;
        height: 536px;
        margin-top: 47px;
        
    }
    .FollowUs {
        display: none;
    }
    .footerItems
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 9.8vw;
        margin-right: 50px;
        
    }

    .footerItemsLists {
        margin-top: 57px;
    }
    .footerItemsLists img {
        display: none;
    }
    .hiddenText {
        display: none;
    }
    .unordered {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    .footerItemsLists ul
    {
        list-style-type: none;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: #FFFFFF;

    }
    .footerItemsLists ul li {
        margin-bottom: 16px;
    }
    .footerBottom {
        width: 100%;
        height: 62px;
        background: rgba(0, 28, 39, 0.75);
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .footerBottom p {
        align-items: center;
        text-align: center;
        justify-content: center;

        text-align: center;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        

    }
    .footerBottom p span {
        word-spacing: 20px;
    }
    @media (max-width: 1490px) {

        nav {
            display: none;
        }
        .menuIcon {
            display:block
        }
    }
    @media (max-width: 1200px){
        .about-section {
            flex-direction: column;
        }
        .about-left {
           text-align: center;
        }
        .hiddenBtn {
            display: block;
            margin-left: 7%;
        }
        .nonHidden {
            display: none;
        }
        .right{
            text-align: right;
        }
      
    }
    @media (max-width: 1087px){
        .checks1, .checks2 {
            display: none;
        }
        .check{
            width: 60%;
        }
        .ellipse
        {
            position: absolute;
            left: 7.5%;
            
        }
        .ellipse1 {
            position: absolute;
            right: 7.5%;
        }
        .lessThan {
            position: absolute;
            left: 10.5%;
        }
        .greaterThan {
            position: absolute;
            right: 10.5%;
        }

    }
    @media (max-width: 1000px){
        .offerings p{
            margin: 30px 0px;
            padding-left: 17px;
        }
        .flexDiv button{
            display: none;
        }
        .hiddenBtn2{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 75px;
        }
        .hiddenBtn2 .btn {
            position: absolute;
            left: 7%;

        }
        .footerBottom p {
            display: none;
        }
        .hiddenText {
            display: flex;
        }
        .footerBottom {
            width: 100%;
            height: 62px;
            background: rgba(0, 28, 39, 0.75);
            align-items: center;
            text-align: start;
            justify-content: flex-start;
            display: flex;
        }
        .hiddenText{
            margin-left: 155px;
            width: 50px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.1px;
            color: #FFFFFF;
        }
        .contactMapImage {
            display: none;
        }
        .contactItemsContainer {
          margin-top: 94px;
        }
        .contactRight {
            flex-basis: 100%;
        }
        .contactRight {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }
        .FollowUs {
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;
        }
        .FollowUs {
            margin: 0;
        }
        .contactSocials {
            margin-top: 48px;
        }
        .footerItemsLists {
            align-items: center;
            justify-content: center;
        }

        .footerItemsLists ul{
            display: none;
        }
        .footerItems {
            flex-direction: column;
        }
        .footerItemsLists p {
            display: inline-block;
        }
        .footerItemsLists img {
            display: inline;
            margin-left: 14px;
        }
        .shownText {
            display: block;
        }
        

        .dateRead {
            position: relative;
            margin-top: 28px;
            
        }
         .blogBox{
            width: 357px;
            height: 541px;
            text-align: center;
        }
         .blogColouredStrip
         {
             margin-top: 28px;
             width: 357px;
             height: 10px;
             
         }
         .blogBtn {
            width: 150px;
            margin-top: 90px;
            font-size: 20px;
        }
        .about-btn2 {
            font-size: 20px;
        }
         .blogImageContainer img {
        
            width: 357px;
            height: 357px;
        }
         .blog-text {
            position: absolute;
            width: 290px;
            height: 41px;
            margin:19px 32px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 0.2px;
        
            color: hsl(209, 69%, 10%);
        
        }
        .right {
            align-items: center;
            text-align: center;
        }
        .right img{
            text-align: center;
            width: 80%;
            object-fit: cover;
        }
        .boxContainer {
          
            align-items: center;
            justify-content:center;
        }
        .dateRead {
            margin-top: 10px;
            display: flex;
            justify-content: flex-start;
        }
        .dateRead span{
            font-size: 16px;
            line-height: 20px;
        }
    }
    @media (max-width: 770px) {
        .cardImage {
            left: 35.5%;
            
        }
        #smallText {
            left: 14%;
            width: 232px;
        }
        #para {
            width: 250px;
            font-size: 14px;
            left: 9%;
        }
        .contactContainerBox {
            width:350px;
        }
        .cardBox{
            position: absolute;
            height: 172.09px;
            top: 328px;
            background: #A2B8C1;
        }
        .card {
            position: relative;
            height: 500px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 0px 10px rgba(162, 184, 193, 0.5);
            align-items: center;
        }
        .body-text{
            width: 285px;
            height: 156px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 52px;
            letter-spacing: 0.2px;
        }
        .about-left p {
            /* width: 255px; */
            font-size: 18px;

        }

        .buttons {
            display: flex;
            justify-content: flex-start;
        }
        .hid {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
        .about-section {
            align-items: flex-start;
        } 
        .about-btn1:hover {
            background: #4183a7;
        }
        .offering-container {
            justify-content: center;
        }
        .offering {
            padding-inline: 15px;
        }

        .checks1, .checks2 {
            display: none;
        }
        .offerings p {
            font-size: 18px;
            text-align: center;
        
        }
        .pertner-text {
            width: 88%;
        }
        .partnerImagesHidden {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            margin-right: 80px;
            display: block;
            
        }
        .partnerImagesHidden img {
            margin-bottom: 15px;
            padding-left: 40px;
            width: 100%;
        }
        .partnerImages {
            display: none;
        }
        .card1 {
            display: none;
        }
        .testimonialsDiv {
            display: none;
        }
        
        .blogBox2
        {
            display: none;
        }  
         .blogBtn {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 3px #0D89CA;
        }
        .blog span :nth-child(1) {
            font-size: 36px;
        }
        .about-section h1 {
            font-size: 36px;
        }
        .offerings h1 {
            font-size: 36px;
        }
        .newsBox
        {
            margin-top: 80px;
        }
        .newsContent {
            font-size: 16px;
            padding-left: 15px;
        }
        .newsDate {
            font-size: 16px;
            padding-left: 15px;
        }
        .card {
            position: relative;
            height: 500px;
            width: 350px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 0px 10px rgba(162, 184, 193, 0.5);
            align-items: center;
        }
    }
    @media (max-width: 369px) {
        .about-left{
        }
        .about-left p {
            font-size: 15px;
            letter-spacing: 0.2px;
            min-width: none;
            max-width: none;
            text-align: left;
            margin-left: 0;
            padding: 0;
        }
        .cards {
            justify-content: center;
            padding-left: 19px;
            flex-wrap: wrap;
            margin-top: 51px;
        }
        .card {
            width: 357px;
            height: 500px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 0px 10px rgba(162, 184, 193, 0.5);
            align-items: center;
        }
        .dateRead {
            margin-top: 10px;
            display: flex;
            justify-content: flex-start;
        }
        .dateRead span:nth-child(1)
        {
            position: absolute;
            left: 20px;
        }
        .dateRead span:nth-child(2)
        {
            position: absolute;
            right: 45px;
        }
         .blogBox{
            width: 320px;
            height: 541px;
            text-align: center;
        }
         .blogColouredStrip
         {
             margin-top: 18px;
             width: 321px;
             height: 10px;
             
         }
         .blogBtn {
            width: 150px;
            margin-top: 90px;
            font-size: 20px;
        }
        .about-btn2 {
            font-size: 20px;
        }
         .blogImageContainer img {
        
            width: 320px;
            height: 357px;
        }
         .blog-text {
            position: absolute;
            width: 290px;
            height: 41px;
            margin:19px 32px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 0.2px;
        
            color: hsl(209, 69%, 10%);
        
        }
        .contactContainerBox {
            width:300px;
        }
        
    }
